body {
	background-image:url("../images/mainbgcolor.png");
	background-attachment: fixed;
	margin: 0px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
}
div.bodyInner {
	background-image: url("../images/mainbg.png");
	background-repeat: repeat-x;
	background-attachment: fixed;
	padding: 20px 0px;
}
div.container {
	background-image: url("../images/contentbgcolor.png");
	width: 750px;
	text-align: left;
	border: solid 1px blue;
	margin: 0px auto;
}
div.containerInner {
	background-image: url("../images/contentbg.png");
	background-repeat: repeat-x;
	padding: 25px 0px;
}
div.banner {
	width: 700px;
	height: 215px;
	margin: 0px auto;
}
div.content {
	width: 698px;
	margin: 0px auto;
	border-right: solid 1px #666666;
	border-bottom: solid 1px #666666;
	border-left: solid 1px #666666;
}
div.bodyTop {
	background-image: url("../images/bodyTop.png");
	background-repeat: no-repeat;
	height: 29px;
	padding: 0px 40px;
}
div.bodyMid {
	background-image: url("../images/bodyMid.png");
	background-repeat: repeat-y;
	padding: 1px 40px 6px 40px;
	min-height: 200px;
}
div.bodyBottom {
	background-image: url("../images/bodyBottom.png");
	background-repeat: no-repeat;
	text-align: center;
	font-size: 8pt;
	color: #333333;
	height: 31px;
	padding-top: 6px;
}


a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: red;
	text-decoration: underline;
}


.image:link { color: #FFFFFF; text-decoration: none; padding : 0px; 
margin : 0px; } 
.image:active { text-decoration: none;padding : 0px; 
margin : 0px;  } 
.image:visited { color: #FFFFFF; text-decoration: none; padding : 0px; 
margin : 0px;  } 
.image:hover { color: #33CCFF; text-decoration: none; padding : 0px; 
margin : 0px; }




ul {
	margin-top: 6px;
	list-style-type: disc;
	list-style-position: outside;
}
li {
	margin-left: -20px;
	margin-top: 1px;
}
input[type="text"], input[type="password"], textarea {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	background-image: url("../images/input.png");
	border-color: #6A6A6A #AFAFAF #DDDDDD;
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	width: 7em;
	margin-top: 1px;
}
input[type="text"], input[type="password"], input[type="select"] {
	width: 125px;
}
div.header {
	font-weight: bold;
	font-size: 13pt;
	padding-bottom: 6px;
	margin-bottom: 9px;
	border-bottom: 1px solid #CCCCCC;
}

div.subHeader {
	font-weight: bold;
	font-size: 12pt;
	padding-top: 2px;
}
div.newsHeader {
	border-bottom: 1px dotted blue;
	font-weight: bold;
	font-size: 17px;
	color: black;
}
div.errtext {
	background-color: #FFC2C2;
	border: solid 1px #C52020;
	color: #C52020;
	margin: 6px 0px;
	padding: 6px;
}
div.messagetext {
	background-color: #C0C0ED;
	border: solid 1px #1313ED;
	color: #1313ED;
	margin: 6px 0px;
	padding: 6px;


#image{ position: absolute; top: -100px; left: 0px;
  width: 100%; }


}